:root {
    --green: #2cd418;
    --red:   #c72a2a;
    --pink:  #d131ff;
    --black: #111111;
    --white: #c5c8c6;

    --fg:     var(--white);
    --bg:     var(--black);
    --bold:   var(--green);
    --accent: var(--red);
    --links:  var(--pink);
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: sans-serif;
    font-size: 0.8em;
}

.clear {
    clear: both;
    margin-bottom: 30px;
}

form.btn {
    display: inline;
}

a.nounder {
    text-decoration: none;
}
/* typography */
h1, .nc {
    font-size: 1.8em;
    font-variant: small-caps;
    color: var(--bold);
    font-family: serif;
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
    margin-top: 30px;
}

.quote {
    color: var(--accent);
}

a {
    color: var(--links);
    font-family: monospace;
}

a.nostyle {
    font-family: unset;
    color: var(--fg);
    text-decoration: none;
}

.nc {
    font-size: 1em;
}
/* nav */
.nav {
    position: absolute;
    top: 0; left: 0; right:0;
    height: 15px;
    font-family: sans-serif;
    font-size: 0.8em;
    padding: 2px;
    background-color: var(--accent);
}

.nav ul {
    list-style: none;
    margin: 0; padding: 0;
}

.nav li {
    display: inline;
    padding-left: 8px;
}

.nav a {
    color: var(--fg);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.1em;
}
/* main */
main {
    width: 98%;
    max-width: 600px;
    margin: 50px auto;
}
/* header */
.header {
    float: left;
}

.authbtns {
    float: right;
    margin-top: 30px;
}

.authbtns button {
    width: 80px;
    margin-bottom: 3px;
}
/* posts */
.post {
    margin-bottom: 18px;
}

.msg, .author {
    margin: 0;
}

.author, .hotlinks code {
    font-family: monospace;
    position: relative;
    opacity: 0.8;
}

.author .name {
    position: absolute;
}

.posts {
    padding: 0;
    list-style: none;
}
 /* hotlinks */
.secimg {
    width: 40%;
    max-height: 500px;
    float: left;
    margin-right: 45px;
}

.hotlinks {
    position: relative;
    float: left;
}

.hotlinks ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    margin-bottom: 30px;
}

.hotlinks code {
    float: left;
}
/* footer */
footer {
    width: 100%;
    text-align: center;
}

footer p {
    margin: 0;
}

footer .copy {
    margin: 20px 0;
}

footer img {
    width: 30%;
}
/* profile */
.av-big {
    width: 100px; height: 100px;
    float: left;
    margin-right: 20px;
}

.av-sm {
    display: inline;
    width: 30px; height: 30px;
    top: 50%;
}
/* soy responsiveness stuff */
@media (max-width: 400px) {
    .authbtns {
	float: none;
    }
    .btn {
	float: left;
	margin-right: 10px;
	width: 45%;
    }
    .btn button {
	width: 100%;
    }
    .secimg {
	margin: 0 auto 20px;
	display: block;
	float: none;
	width: 70%;
    }
    .hotlinks code {
	height: 0; overflow: hidden;
    }
}
